.table {
    width: 100%;
    max-width: 700px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    tr {
        display: flex;
        width: 700px;

        th {
            font-size: var(--normal-font-size);
            font-weight: normal;
            color: var(--grey-color);
            text-align: left;
            width: 100%;
            padding: 0 16px;
        }

        td {
            font-size: var(--small-font-size);
            width: 700px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 0 16px;
        }
    }

    caption {
        text-align: left;
        font-size: var(--large-font-size);
        font-weight: bold;
        width: 100%;
        margin-bottom: 24px;
    }

}
