.table {
	width: 100%;
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	gap: 24px;

	tr {
		display: flex;
		width: 800px;
		padding-bottom: 8px;
		margin-bottom: 8px;
		border-bottom: 2px solid #414141;

		.id {
			width: 200px;
		}

		th {
			font-size: var(--normal-font-size);
			font-weight: normal;
			color: var(--grey-color);
			text-align: left;
			width: 100%;
			padding-right: 16px;
		}

		td {
			font-size: var(--small-font-size);
			width: 700px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			padding-right: 16px;
			align-self: center;
		}
	}

	thead {
		tr {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}

	caption {
		text-align: left;
		font-size: var(--large-font-size);
		font-weight: bold;
		width: 100%;
		margin-bottom: 16px;
	}
}
